*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  input[type="radio"] {
      position: absolute;
      left: -9999px;
    }
    :root {
      --black: #1a1a1a;
      --white: #fff;
      --green: #ffc320;
    }
    
    .filters {
      text-align: center;
      margin-bottom: 2rem;
    }
    
    .filters * {
      display: inline-block;
    }
    
    .filters label {
      padding: 0.5rem 1rem;
      margin-bottom: 0.25rem;
      border-radius: 2rem;
      min-width: 50px;
      line-height: normal;
      cursor: pointer;
      transition: all 0.1s;
    }
   .filters label:hover {
      background: var(--green);
      color: var(--white);
    }
	
    :root {
      --black: #1a1a1a;
      --white: #fff;
      --green: #ffc320;
    }
    
	.posts {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
	}
    
    [value="All"]:checked ~ .posts [data-category] {
      display: block;
    }
    [value="Arcade"]:checked ~ .posts .post:not([data-category~="Arcade"]),
    [value="Sports"]:checked ~ .posts .post:not([data-category~="Sports"]),
    [value="Storymode"]:checked ~ .posts .post:not([data-category~="Storymode"]),
    [value="Free-to-Play"]:checked ~ .posts .post:not([data-category~="Free-to-Play"]),
    [value="FPS"]:checked ~ .posts .post:not([data-category~="FPS"])
    {
      display: none;
    }
    
    :root {
      --black: #1a1a1a;
      --white: #fff;
      --green: #ffc320;
    }
    
    [value="All"]:checked ~ .filters [for="All"],
    [value="Arcade"]:checked ~ .filters [for="Arcade"],
    [value="Sports"]:checked ~ .filters [for="Sports"],
    [value="Storymode"]:checked ~ .filters [for="Storymode"],
    [value="Free-to-Play"]:checked ~ .filters [for="Free-to-Play"],
    [value="FPS"]:checked ~ .filters [for="FPS"]
    {
      background: var(--green);
      color: var(--white);
    }
/*This is about the boxes and buttons*/ 
    .Fdiv-border {
        height: 280px;
        width: 220px;
        border: black;
        border:solid;
        border-radius: 10%;
        margin: 50px;
        position: relative;
        text-align: center;
      }
    .Fborder {
        background: #ffc320;
      }
      .Fbutton {
        border: none;
        color: black;
        padding: 0px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        position: absolute;
        border-radius: 2rem;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
	
      .Fbutton:hover {
        background-color: #ffc320;
        color: white;
      }
/*This part is all about the ID's of each recipe*/
      #MultiVersus{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Multiversus.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	  
	  
      #Splatoon3{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Splatoon3.jpg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	  
	  
      #Cuphead{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Cuphead.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	
	  
      #Fifa{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Fifa.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	 
	  
      #NHL{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/NHL.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	 
	  
      #NBA{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/NBA.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	 
	  
      #Gotham{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Gotham.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	
	  
      #UnDecember{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/UnDecember.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	 
	  
      #Requium{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Requiem.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	
	  
      #Tina{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Tina.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	  
      #ow2{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/ow2.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	  
      #Halo{
        height: 200px;
        width:200px;
        border-radius: 25%;
       background: url(Images/Halo.jpeg)no-repeat;
       background-size: cover;
        background-position-x: center;
       background-position-y: center;
       position:absolute;
       left: 0;
       top: 0;
       right: 0;
        margin: auto;
      }
	  
     
	  
	/*This section is for the position of the buttons*/
	   .Fbutton1{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:32%;
      }
	 
	   .Fbutton2{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left: 18%;
      }
	  
	   .Fbutton3{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:13%;
      }
	
	   .Fbutton4{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:20%;
      }

	   .Fbutton5{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:20%;
      }
	  
	   .Fbutton6{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:17%;
      }
	  
	   .Fbutton7{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:34%;
      }

	   .Fbutton8{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:27%;
      }
	
	   .Fbutton9{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:27%;
      }

	   .Fbutton10{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:27%;
      }
	  
	   .Fbutton11{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:18%;
      }
	
	   .Fbutton12{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 75%;
		padding:5px;
		left:12%;
      }

	   .Fbutton13{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:15%;
      }
	  
	   .Fbutton14{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:13%;
      }
	  
	   .Fbutton15{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:25%;
      }
	  
	   .Fbutton16{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:14%;
      }
	  
	   .Fbutton17{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:22%;
      }
	  
	   .Fbutton18{
        background-color: white; 
        color: black; 
        border: 2px solid black;
		top: 80%;
		padding:5px;
		left:37%;
      }
	  
	  